<h1>edit HAMS, or something</h1>

<%= form_for(@article) do |f| %>
  <%= f.label "Title" %>
  <div><%= f.text_field :title %></div>
  <%= f.label "Body" %>
  <div><%= f.text_area :body %></div>
  <%= f.submit %>
<% end %>
